{% extends 'base.html' %}
{% block title %}
    Sistema de Inscripcion a Seminario
{% endblock title %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="alert alert-info display-1 text-center">Bienvenido al Sistema de Inscripcion a Seminario</div>
        <h2 class="pb-2 border-bottom">Modelo Vista Template ( CRUD )</h2>
        <div class="container d-flex justify-content-between">
            <a href="{% url 'crear_inscripcion' %}" class="btn btn-info btn-lg">Inscribir al Seminario</a>
            <a href="{% url 'lista_inscripcion' %}" class="btn btn-info btn-lg">Ver listado de Inscritos</a>
        </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">API REST</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2"></use>
                    </svg>
                </div>
                <div>
                    <h2>API REST (sin estilos)</h2>
                    <p>aqui esta la api rest sin estilos del modelo Inscritos</p>
                    <a href="{% url 'inscritos_json_api' %}" class="btn btn-primary">Ir a la API</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h2>API Clase View</h2>
                    <p>Aqui esta la api rest con class base view del modelo Inscritos</p>
                    <a href="{% url 'inscritos_api' %}" class="btn btn-primary">Ir a la API</a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h2>API Function Base View</h2>
                    <p>Aqui esta la api rest con function base view del modelo Institucion</p>
                    <a href="{% url 'listar_instituciones_api' %}" class="btn btn-primary">Ir a la API</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
